<!-- templates/user/home.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{user/header :: head}"></head>

<body>
    <div th:replace="~{user/header :: header}"></div>

    <div class="container fade-in mt-4 mb-5">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary">List of Registered Users</h2>
            </div>
        </div>
        <table class="table table-bordered table-hover shadow-sm mt-3">
            <thead class="table-primary">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="~{user/footer :: footer}"></div>
</body>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</html>